body{
    background-image: url("../Imágenes/Sin-título-1.jpg")
    
}

#myHeader {
    background-color: rgba(0, 255, 221, 0.5);
} 

.textoGrande{
    font-family: cursive;
    font-size: 35px;
    color: white;
    padding-left: 10px;
    
}

.Logo{
    padding-top: 10px;
}

.Perro{
    width: 65%;
    height: 65%;

}

.Nav{
    float: right;
    font-family: cursive;
    font-size: 15px;
    padding: 5px;
    color: white;
    
}

.Social{
    float: right;
    position: relative;
    width: 35px;
    height: 35px;
    padding: 10px;
    border-radius: 50%;
    
}
